
/* Hexadecimais utilizados no projeto:
#e50040
#b10333
#fff
#69001d
#de003e
#f5f5f5
#f3f3f3
#294c71
#000
#f9f9f9
#a1a1a1 */

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/imagens/fundo.png);
    background-repeat: repeat-x;
    background-color: rgb(75, 74, 74);
}

#img-brasil{
    float: right;
    position: absolute;
    right: 660px;
    top:10px
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 68vh;
    padding-right: 68vh;
    position: relative;
}

a:hover, a:visited{
    background-color: #e50040;
}

#nav-barra ul{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
}


#nav-barra li{
    background-color: #b10333;
    padding: 15px 0;
}

#nav-barra a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}



.item1{
    padding: 20px;
    grid-column: 1/6;
}


